<div class="container" style="margin-top: 40px; margin-bottom: 40px;">
  <h2>Datenschutzerklärung</h2>

  <h3>Einleitung</h3>
  <p>Mit der folgenden Datenschutzerklärung möchten wir Sie darüber aufklären, welche Arten Ihrer personenbezogenen
    Daten (nachfolgend auch kurz als "Daten“ bezeichnet) wir zu welchen Zwecken und in welchem Umfang verarbeiten. Die
    Datenschutzerklärung gilt für alle von uns durchgeführten Verarbeitungen personenbezogener Daten, sowohl im Rahmen
    der Erbringung unserer Leistungen als auch insbesondere auf unseren Webseiten, in mobilen Applikationen sowie
    innerhalb externer Onlinepräsenzen, wie z.B. unserer Social-Media-Profile (nachfolgend zusammenfassend bezeichnet
    als "Onlineangebot“).
    Die verwendeten Begriffe sind nicht geschlechtsspezifisch.</p>
  <p>Stand: <strong>22. März 2020</strong></p>

  <strong>Inhaltsübersicht</strong>
  <ul>
    <li>Einleitung</li>
    <li>Verantwortlicher</li>
    <li>Übersicht der Verarbeitungen</li>
    <li>Maßgebliche Rechtsgrundlagen</li>
    <li>Sicherheitsmaßnahmen</li>
    <li>Einsatz von Cookies</li>
    <li>Kontaktaufnahme</li>
    <li>Onlinemarketing</li>
    <li>Plugins und eingebettete Funktionen sowie Inhalte</li>
    <li>Löschung von Daten</li>
    <li>Änderung und Aktualisierung der Datenschutzerklärung
      Verantwortlicher
    </li>
  </ul>

  <p>
    Florian Zaskoku<br/>
    48619 Heek<br/>
    Engelkamp 2
  </p>

  E-Mail: <a href="mailto:florian@zaskoku.com">florian@zaskoku.com</a><br/>
  Telefon: <a href="tel:01627578357">01627578357</a><br/>
  Impressum: <a href="https://corona-datahub.com/impressum" target="_blank">https://corona-datahub.com/impressum</a>

  <h3>Übersicht der Verarbeitungen</h3>
  <p>
    Die nachfolgende Übersicht fasst die Arten der verarbeiteten Daten und die Zwecke ihrer Verarbeitung zusammen und
    verweist auf die betroffenen Personen.</p>

  <h4>Arten der verarbeiteten Daten</h4>
  <ul>
    <li>Bestandsdaten (z.B. Namen, Adressen)</li>
    <li>Inhaltsdaten (z.B. Texteingaben, Fotografien, Videos)</li>
    <li>Kontaktdaten (z.B. E-Mail, Telefonnummern)</li>
    <li>Meta-/Kommunikationsdaten (z.B. Geräte-Informationen, IP-Adressen)</li>
    <li>Standortdaten (Daten, die den Standort des Endgeräts eines Endnutzers angeben)</li>
  </ul>

  <h4>Kategorien betroffener Personen</h4>
  <ul>
    <li>Kommunikationspartner</li>
    <li>Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten)</li>
  </ul>

  <h4>Kategorien betroffener Personen</h4>
  <ul>
    <li>Bereitstellung unseres Onlineangebotes und Nutzerfreundlichkeit</li>
    <li>Besuchsaktionsauswertung</li>
    <li>Kontaktanfragen und Kommunikation</li>
    <li>Reichweitenmessung (z.B. Zugriffsstatistiken, Erkennung wiederkehrender Besucher)</li>
    <li>Tracking (z.B. interessens-/verhaltensbezogenes Profiling, Nutzung von Cookies)</li>
  </ul>

  <h3>Maßgebliche Rechtsgrundlagen</h3>
  <p>
    Im Folgenden teilen wir die Rechtsgrundlagen der Datenschutzgrundverordnung (DSGVO), auf deren Basis wir die
    personenbezogenen Daten verarbeiten, mit. Bitte beachten Sie, dass zusätzlich zu den Regelungen der DSGVO die
    nationalen Datenschutzvorgaben in Ihrem bzw. unserem Wohn- und Sitzland gelten können. Sollten ferner im Einzelfall
    speziellere Rechtsgrundlagen maßgeblich sein, teilen wir Ihnen diese in der Datenschutzerklärung mit.
  </p>
  <ul>
    <li><strong>Einwilligung (Art. 6 Abs. 1 S. 1 lit. a DSGVO)</strong> - Die betroffene Person hat ihre Einwilligung in
      die Verarbeitung der
      sie betreffenden personenbezogenen Daten für einen spezifischen Zweck oder mehrere bestimmte Zwecke gegeben
    </li>
    <li><strong>Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b. DSGVO)</strong> - Die
      Verarbeitung ist für die
      Erfüllung eines Vertrags, dessen Vertragspartei die betroffene Person ist, oder zur Durchführung vorvertraglicher
      Maßnahmen erforderlich, die auf Anfrage der betroffenen Person erfolgen
    </li>
    <li><strong>Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f. DSGVO)</strong> - Die Verarbeitung ist zur Wahrung
      der berechtigten
      Interessen des Verantwortlichen oder eines Dritten erforderlich, sofern nicht die Interessen oder Grundrechte und
      Grundfreiheiten der betroffenen Person, die den Schutz personenbezogener Daten erfordern, überwiegen.
    </li>
    <li>
      <strong>Nationale Datenschutzregelungen in Deutschland</strong>: Zusätzlich zu den Datenschutzregelungen der
      Datenschutz-Grundverordnung gelten nationale Regelungen zum Datenschutz in Deutschland. Hierzu gehört insbesondere
      das
      Gesetz zum Schutz vor Missbrauch personenbezogener Daten bei der Datenverarbeitung (Bundesdatenschutzgesetz –
      BDSG).
      Das BDSG enthält insbesondere Spezialregelungen zum Recht auf Auskunft, zum Recht auf Löschung, zum
      Widerspruchsrecht,
      zur Verarbeitung besonderer Kategorien personenbezogener Daten, zur Verarbeitung für andere Zwecke und zur
      Übermittlung sowie automatisierten Entscheidungsfindung im Einzelfall einschließlich Profiling. Des Weiteren
      regelt es
      die Datenverarbeitung für Zwecke des Beschäftigungsverhältnisses (§ 26 BDSG), insbesondere im Hinblick auf die
      Begründung, Durchführung oder Beendigung von Beschäftigungsverhältnissen sowie die Einwilligung von Beschäftigten.
      Ferner können Landesdatenschutzgesetze der einzelnen Bundesländer zur Anwendung gelangen.
    </li>
  </ul>

  <h3>Sicherheitsmaßnahmen</h3>
  <p>Wir treffen nach Maßgabe der gesetzlichen Vorgaben unter Berücksichtigung des Stands der Technik, der
    Implementierungskosten und der Art, des Umfangs, der Umstände und der Zwecke der Verarbeitung sowie der
    unterschiedlichen Eintrittswahrscheinlichkeiten und des Ausmaßes der Bedrohung der Rechte und Freiheiten natürlicher
    Personen geeignete technische und organisatorische Maßnahmen, um ein dem Risiko angemessenes Schutzniveau zu
    gewährleisten.</p>
  <p>
    Zu den Maßnahmen gehören insbesondere die Sicherung der Vertraulichkeit, Integrität und Verfügbarkeit von Daten
    durch
    Kontrolle des physischen und elektronischen Zugangs zu den Daten als auch des sie betreffenden Zugriffs, der
    Eingabe,
    der Weitergabe, der Sicherung der Verfügbarkeit und ihrer Trennung. Des Weiteren haben wir Verfahren eingerichtet,
    die
    eine Wahrnehmung von Betroffenenrechten, die Löschung von Daten und Reaktionen auf die Gefährdung der Daten
    gewährleisten. Ferner berücksichtigen wir den Schutz personenbezogener Daten bereits bei der Entwicklung bzw.
    Auswahl
    von Hardware, Software sowie Verfahren entsprechend dem Prinzip des Datenschutzes, durch Technikgestaltung und durch
    datenschutzfreundliche Voreinstellungen.
  </p>
  <p>
    <strong>SSL-Verschlüsselung (https)</strong>: Um Ihre via unser Online-Angebot übermittelten Daten zu schützen,
    nutzen wir eine
    SSL-Verschlüsselung. Sie erkennen derart verschlüsselte Verbindungen an dem Präfix https:// in der Adresszeile Ihres
    Browsers.</p>

  <h3>Einsatz von Cookies</h3>
  <p>Cookies sind Textdateien, die Daten von besuchten Websites oder Domains enthalten und von einem Browser auf dem
    Computer des Benutzers gespeichert werden. Ein Cookie dient in erster Linie dazu, die Informationen über einen
    Benutzer während oder nach seinem Besuch innerhalb eines Onlineangebotes zu speichern. Zu den gespeicherten Angaben
    können z.B. die Spracheinstellungen auf einer Webseite, der Loginstatus, ein Warenkorb oder die Stelle, an der ein
    Video geschaut wurde, gehören. Zu dem Begriff der Cookies zählen wir ferner andere Technologien, die die gleichen
    Funktionen wie Cookies erfüllen (z.B., wenn Angaben der Nutzer anhand pseudonymer Onlinekennzeichnungen gespeichert
    werden, auch als "Nutzer-IDs" bezeichnet)</p>

  <h4>Die folgenden Cookie-Typen und Funktionen werden unterschieden:</h4>
  <ul>
    <li><strong>Temporäre Cookies (auch: Session- oder Sitzungs-Cookies):</strong> Temporäre Cookies werden spätestens
      gelöscht, nachdem ein
      Nutzer ein Online-Angebot verlassen und seinen Browser geschlossen hat
    </li>
    <li><strong>Permanente Cookies:</strong> Permanente Cookies bleiben auch nach dem Schließen des Browsers
      gespeichert. So kann
      beispielsweise der Login-Status gespeichert oder bevorzugte Inhalte direkt angezeigt werden, wenn der Nutzer eine
      Website erneut besucht. Ebenso können die Interessen von Nutzern, die zur Reichweitenmessung oder zu
      Marketingzwecken
      verwendet werden, in einem solchen Cookie gespeichert werden
    </li>
    <li><strong>First-Party-Cookies:</strong> First-Party-Cookies werden von uns selbst gesetzt</li>
    <li><strong>Third-Party-Cookies (auch: Drittanbieter-Cookies):</strong> Drittanbieter-Cookies werden hauptsächlich
      von Werbetreibenden
      (sog. Dritten) verwendet, um Benutzerinformationen zu verarbeiten
    </li>
    <li><strong>Notwendige (auch: essentielle oder unbedingt erforderliche) Cookies:</strong> Cookies können zum einen
      für den Betrieb einer
      Webseite unbedingt erforderlich sein (z.B. um Logins oder andere Nutzereingaben zu speichern oder aus Gründen der
      Sicherheit)
    </li>
    <li><strong>Statistik-, Marketing- und Personalisierungs-Cookies:</strong> Ferner werden Cookies im Regelfall auch
      im Rahmen der
      Reichweitenmessung eingesetzt sowie dann, wenn die Interessen eines Nutzers oder sein Verhalten (z.B. Betrachten
      bestimmter Inhalte, Nutzen von Funktionen etc.) auf einzelnen Webseiten in einem Nutzerprofil gespeichert werden.
      Solche Profile dienen dazu, den Nutzern z.B. Inhalte anzuzeigen, die ihren potentiellen Interessen entsprechen.
      Dieses
      Verfahren wird auch als "Tracking", d.h., Nachverfolgung der potentiellen Interessen der Nutzer bezeichnet. .
      Soweit
      wir Cookies oder "Tracking"-Technologien einsetzen, informieren wir Sie gesondert in unserer Datenschutzerklärung
      oder
      im Rahmen der Einholung einer Einwilligung
    </li>
  </ul>

  <h4>Hinweise zu Rechtsgrundlagen:</h4>
  <p>Auf welcher Rechtsgrundlage wir Ihre personenbezogenen Daten mit Hilfe von Cookies
    verarbeiten, hängt davon ab, ob wir Sie um eine Einwilligung bitten. Falls dies zutrifft und Sie in die Nutzung von
    Cookies einwilligen, ist die Rechtsgrundlage der Verarbeitung Ihrer Daten die erklärte Einwilligung. Andernfalls
    werden die mithilfe von Cookies verarbeiteten Daten auf Grundlage unserer berechtigten Interessen (z.B. an einem
    betriebswirtschaftlichen Betrieb unseres Onlineangebotes und dessen Verbesserung) verarbeitet oder, wenn der Einsatz
    von Cookies erforderlich ist, um unsere vertraglichen Verpflichtungen zu erfüllen.</p>

  <h4>Allgemeine Hinweise zum Widerruf und Widerspruch (Opt-Out):</h4>
  <p>Abhängig davon, ob die Verarbeitung auf Grundlage einer
    Einwilligung oder gesetzlichen Erlaubnis erfolgt, haben Sie jederzeit die Möglichkeit, eine erteilte Einwilligung zu
    widerrufen oder der Verarbeitung Ihrer Daten durch Cookie-Technologien zu widersprechen (zusammenfassend als
    "Opt-Out"
    bezeichnet). Sie können Ihren Widerspruch zunächst mittels der Einstellungen Ihres Browsers erklären, z.B., indem
    Sie
    die Nutzung von Cookies deaktivieren (wobei hierdurch auch die Funktionsfähigkeit unseres Onlineangebotes
    eingeschränkt werden kann). Ein Widerspruch gegen den Einsatz von Cookies zu Zwecken des Onlinemarketings kann auch
    mittels einer Vielzahl von Diensten, vor allem im Fall des Trackings, über die Webseiten
    <a href="https://optout.aboutads.info" target="_blank">https://optout.aboutads.info</a>
    und <a href="https://www.youronlinechoices.com/" target="_blank">https://www.youronlinechoices.com/</a> erklärt werden. Daneben können Sie weitere Widerspruchshinweise im Rahmen der
    Angaben zu den eingesetzten Dienstleistern und Cookies erhalten.
  </p>

  <h4>Verarbeitung von Cookie-Daten auf Grundlage einer Einwilligung:</h4>
  <p>
    Bevor wir Daten im Rahmen der Nutzung von Cookies
    verarbeiten oder verarbeiten lassen, bitten wir die Nutzer um eine jederzeit widerrufbare Einwilligung. Bevor die
    Einwilligung nicht ausgesprochen wurde, werden allenfalls Cookies eingesetzt, die für den Betrieb unseres
    Onlineangebotes erforderlich sind. Deren Einsatz erfolgt auf der Grundlage unseres Interesses und des Interesses der
    Nutzer an der erwarteten Funktionsfähigkeit unseres Onlineangebotes.
  </p>
  <ul>
    <li><strong>Verarbeitete Datenarten:</strong> Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten,
      Zugriffszeiten),
      Meta-/Kommunikationsdaten (z.B. Geräte-Informationen, IP-Adressen)
    </li>
    <li><strong>Betroffene Personen:</strong> Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten)</li>
    <li><strong>Rechtsgrundlagen:</strong> Einwilligung (Art. 6 Abs. 1 S. 1 lit. a DSGVO), Berechtigte Interessen (Art.
      6 Abs. 1 S. 1 lit. f.
      DSGVO)
    </li>
  </ul>

  <h3>Kontaktaufnahme</h3>
  <p>
    Bei der Kontaktaufnahme mit uns (z.B. per Kontaktformular, E-Mail, Telefon oder via soziale Medien) werden die
    Angaben
    der anfragenden Personen verarbeitet, soweit dies zur Beantwortung der Kontaktanfragen und etwaiger angefragter
    Maßnahmen erforderlich ist.
  </p>
  <p>
    Die Beantwortung der Kontaktanfragen im Rahmen von vertraglichen oder vorvertraglichen Beziehungen erfolgt zur
    Erfüllung unserer vertraglichen Pflichten oder zur Beantwortung von (vor)vertraglichen Anfragen und im Übrigen auf
    Grundlage der berechtigten Interessen an der Beantwortung der Anfragen.
  </p>
  <ul>
    <li><strong>Verarbeitete Datenarten:</strong> Bestandsdaten (z.B. Namen, Adressen), Kontaktdaten (z.B. E-Mail, Telefonnummern),
      Inhaltsdaten (z.B. Texteingaben, Fotografien, Videos), Meta-/Kommunikationsdaten (z.B. Geräte-Informationen,
      IP-Adressen)
    </li>
    <li><strong>Betroffene Personen:</strong> Kommunikationspartner</li>
    <li><strong>Zwecke der Verarbeitung:</strong> Kontaktanfragen und Kommunikation</li>
    <li><strong>Rechtsgrundlagen:</strong> Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b. DSGVO), Berechtigte
      Interessen (Art. 6 Abs. 1 S. 1 lit. f. DSGVO)
    </li>
  </ul>

  <h3>Onlinemarketing</h3>
  <p>
    Wir verarbeiten personenbezogene Daten zu Zwecken des Onlinemarketings, worunter insbesondere die Vermarktung von
    Werbeflächen oder Darstellung von werbenden und sonstigen Inhalten (zusammenfassend als "Inhalte" bezeichnet) anhand
    potentieller Interessen der Nutzer sowie die Messung ihrer Effektivität fallen kann.
  </p>

  <p>
    Zu diesen Zwecken werden sogenannte Nutzerprofile angelegt und in einer Datei (sogenannte "Cookie") gespeichert oder
    ähnliche Verfahren genutzt, mittels derer die für die Darstellung der vorgenannten Inhalte relevante Angaben zum
    Nutzer gespeichert werden. Zu diesen Angaben können z.B. betrachtete Inhalte, besuchte Webseiten, genutzte
    Onlinenetzwerke, aber auch Kommunikationspartner und technische Angaben, wie der verwendete Browser, das verwendete
    Computersystem sowie Angaben zu Nutzungszeiten gehören. Sofern Nutzer in die Erhebung ihrer Standortdaten
    eingewilligt
    haben, können auch diese verarbeitet werden.
  </p>

  <p>
    Es werden ebenfalls die IP-Adressen der Nutzer gespeichert. Jedoch nutzen wir zur Verfügung stehende
    IP-Masking-Verfahren (d.h., Pseudonymisierung durch Kürzung der IP-Adresse) zum Schutz der Nutzer. Generell werden
    im
    Rahmen des Onlinemarketingverfahren keine Klardaten der Nutzer (wie z.B. E-Mail-Adressen oder Namen) gespeichert,
    sondern Pseudonyme. D.h., wir als auch die Anbieter der Onlinemarketingverfahren kennen nicht die tatsächlich
    Identität der Nutzer, sondern nur die in deren Profilen gespeicherten Angaben.
  </p>

  <p>
    Die Angaben in den Profilen werden im Regelfall in den Cookies oder mittels ähnlicher Verfahren gespeichert. Diese
    Cookies können später generell auch auf anderen Webseiten die dasselbe Onlinemarketingverfahren einsetzen,
    ausgelesen
    und zu Zwecken der Darstellung von Inhalten analysiert als auch mit weiteren Daten ergänzt und auf dem Server des
    Onlinemarketingverfahrensanbieters gespeichert werden.
  </p>

  <p>
    Ausnahmsweise können Klardaten den Profilen zugeordnet werden. Das ist der Fall, wenn die Nutzer z.B. Mitglieder
    eines
    sozialen Netzwerks sind, dessen Onlinemarketingverfahren wir einsetzen und das Netzwerk die Profile der Nutzer mit
    den
    vorgenannten Angaben verbindet. Wir bitten darum, zu beachten, dass Nutzer mit den Anbietern zusätzliche Abreden,
    z.B.
    durch Einwilligung im Rahmen der Registrierung, treffen können.
  </p>

  <p>
    Wir erhalten grundsätzlich nur Zugang zu zusammengefassten Informationen über den Erfolg unserer Werbeanzeigen.
    Jedoch
    können wir im Rahmen sogenannter Konversionsmessungen prüfen, welche unserer Onlinemarketingverfahren zu einer
    sogenannten Konversion geführt haben, d.h. z.B., zu einem Vertragsschluss mit uns. Die Konversionsmessung wird
    alleine
    zur Analyse des Erfolgs unserer Marketingmaßnahmen verwendet.
  </p>

  <p>
    Solange nicht anders angegeben, bitten wir Sie davon auszugehen, dass verwendete Cookies für einen Zeitraum von zwei
    Jahren gespeichert werden.
  </p>

  <p>
    <strong>Hinweise zu Rechtsgrundlagen:</strong> Sofern wir die Nutzer um deren Einwilligung in den Einsatz der
    Drittanbieter bitten, ist
    die Rechtsgrundlage der Verarbeitung von Daten die Einwilligung. Ansonsten werden die Daten der Nutzer auf Grundlage
    unserer berechtigten Interessen (d.h. Interesse an effizienten, wirtschaftlichen und empfängerfreundlichen
    Leistungen)
    verarbeitet. In diesem Zusammenhang möchten wir Sie auch auf die Informationen zur Verwendung von Cookies in dieser
    Datenschutzerklärung hinweisen.
  </p>
  <ul>
    <li><strong>Verarbeitete Datenarten:</strong> Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten,
      Zugriffszeiten),
      Meta-/Kommunikationsdaten (z.B. Geräte-Informationen, IP-Adressen)
    </li>
    <li><strong>Betroffene Personen:</strong> Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten), Interessenten
    </li>
    <li><strong>Zwecke der Verarbeitung:</strong> Tracking (z.B. interessens-/verhaltensbezogenes Profiling, Nutzung von
      Cookies),
      Remarketing, Besuchsaktionsauswertung, Interessenbasiertes und verhaltensbezogenes Marketing, Profiling (Erstellen
      von
      Nutzerprofilen), Konversionsmessung (Messung der Effektivität von Marketingmaßnahmen), Reichweitenmessung (z.B.
      Zugriffsstatistiken, Erkennung wiederkehrender Besucher)
    </li>
    <li><strong>Sicherheitsmaßnahmen:</strong> IP-Masking (Pseudonymisierung der IP-Adresse)</li>
    <li><strong>Rechtsgrundlagen:</strong> Einwilligung (Art. 6 Abs. 1 S. 1 lit. a DSGVO), Berechtigte Interessen (Art.
      6 Abs. 1 S. 1 lit. f.
      DSGVO)
    </li>
    <li><strong>Widerspruchsmöglichkeit (Opt-Out):</strong> Wir verweisen auf die Datenschutzhinweise der jeweiligen
      Anbieter und die zu den
      Anbietern angegebenen Widerspruchsmöglichkeiten (sog. \"Opt-Out\"). Sofern keine explizite Opt-Out-Möglichkeit
      angegeben wurde, besteht zum einen die Möglichkeit, dass Sie Cookies in den Einstellungen Ihres Browsers
      abschalten.
      Hierdurch können jedoch Funktionen unseres Onlineangebotes eingeschränkt werden. Wir empfehlen daher zusätzlich
      die
      folgenden Opt-Out-Möglichkeiten, die zusammenfassend auf jeweilige Gebiete gerichtet angeboten werden:a) Europa:
      <a href="https://www.youronlinechoices.eu" target="_blank">https://www.youronlinechoices.eu</a> b) Kanada: <a href="https://www.youradchoices.ca/choices" target="_blank">https://www.youradchoices.ca/choices</a> c) USA:
      <a href="https://www.aboutads.info/choices" target="_blank">https://www.aboutads.info/choices</a> d) Gebietsübergreifend: <a href="https://optout.aboutads.info" target="_blank">https://optout.aboutads.info</a>
    </li>
  </ul>

  <h4>Eingesetzte Dienste und Diensteanbieter:</h4>
  <ul>
    <li><strong>Google Analytics:</strong> Onlinemarketing und Webanalyse; Dienstanbieter: Google Ireland Limited,
      Gordon House, Barrow
      Street, Dublin 4, Irland, Mutterunternehmen: Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA;
      Website: <a href="https://marketingplatform.google.com/intl/de/about/analytics/" target="_blank">https://marketingplatform.google.com/intl/de/about/analytics/</a>; Datenschutzerklärung:
      <a href="https://policies.google.com/privacy" target="_blank">https://policies.google.com/privacy</a>; Privacy Shield (Gewährleistung Datenschutzniveau bei Verarbeitung von Daten
      in
      den USA): <a href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active" target="_blank">https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active</a>; Widerspruchsmöglichkeit
      (Opt-Out): Opt-Out-Plugin: <a href="https://tools.google.com/dlpage/gaoptout?hl=de" target="_blank">https://tools.google.com/dlpage/gaoptout?hl=de</a>, Einstellungen für die Darstellung von
      Werbeeinblendungen: <a href="https://adssettings.google.com/authenticated" target="_blank">https://adssettings.google.com/authenticated</a>
    </li>
  </ul>

  <h3>Plugins und eingebettete Funktionen sowie Inhalte</h3>
  <p>
    Wir binden in unser Onlineangebot Funktions- und Inhaltselemente ein, die von den Servern ihrer jeweiligen Anbieter
    (nachfolgend bezeichnet als "Drittanbieter”) bezogen werden. Dabei kann es sich zum Beispiel um Grafiken, Videos
    oder
    Social-Media-Schaltflächen sowie Beiträge handeln (nachfolgend einheitlich bezeichnet als "Inhalte”).
  </p>
  <p>
    Die Einbindung setzt immer voraus, dass die Drittanbieter dieser Inhalte die IP-Adresse der Nutzer verarbeiten, da
    sie
    ohne die IP-Adresse die Inhalte nicht an deren Browser senden könnten. Die IP-Adresse ist damit für die Darstellung
    dieser Inhalte oder Funktionen erforderlich. Wir bemühen uns, nur solche Inhalte zu verwenden, deren jeweilige
    Anbieter die IP-Adresse lediglich zur Auslieferung der Inhalte verwenden. Drittanbieter können ferner sogenannte
    Pixel-Tags (unsichtbare Grafiken, auch als "Web Beacons" bezeichnet) für statistische oder Marketingzwecke
    verwenden.
    Durch die "Pixel-Tags" können Informationen, wie der Besucherverkehr auf den Seiten dieser Webseite, ausgewertet
    werden. Die pseudonymen Informationen können ferner in Cookies auf dem Gerät der Nutzer gespeichert werden und unter
    anderem technische Informationen zum Browser und zum Betriebssystem, zu verweisenden Webseiten, zur Besuchszeit
    sowie
    weitere Angaben zur Nutzung unseres Onlineangebotes enthalten als auch mit solchen Informationen aus anderen Quellen
    verbunden werden.
  </p>
  <p>
    <strong>Hinweise zu Rechtsgrundlagen:</strong> Sofern wir die Nutzer um deren Einwilligung in den Einsatz der Drittanbieter bitten, ist
    die Rechtsgrundlage der Verarbeitung von Daten die Einwilligung. Ansonsten werden die Daten der Nutzer auf Grundlage
    unserer berechtigten Interessen (d.h. Interesse an effizienten, wirtschaftlichen und empfängerfreundlichen Leistungen)
    verarbeitet. In diesem Zusammenhang möchten wir Sie auch auf die Informationen zur Verwendung von Cookies in dieser
    Datenschutzerklärung hinweisen.
  </p>
  <p>
    <strong>Einbindung von Drittsoftware, Skripten oder Frameworks (z. B. jQuery):</strong> Wir binden in unser Onlineangebot Software ein,
    die wir von Servern anderer Anbieter abrufen (z.B. Funktions-Bibliotheken, die wir zwecks Darstellung oder
    Nutzerfreundlichkeit unseres Onlineangebotes verwenden). Hierbei erheben die jeweiligen Anbieter die IP-Adresse der
    Nutzer und können diese zu Zwecken der Übermittlung der Software an den Browser der Nutzer sowie zu Zwecken der
    Sicherheit, als auch zur Auswertung und Optimierung ihres Angebotes verarbeiten.
  </p>
  <ul>
    <li><strong>Verarbeitete Datenarten:</strong> Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten),
      Meta-/Kommunikationsdaten (z.B. Geräte-Informationen, IP-Adressen), Standortdaten (Daten, die den Standort des
      Endgeräts eines Endnutzers angeben)</li>
    <li><strong>Betroffene Personen:</strong> Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten)</li>
    <li><strong>Zwecke der Verarbeitung:</strong> Bereitstellung unseres Onlineangebotes und Nutzerfreundlichkeit, Vertragliche Leistungen
      und Service</li>
    <li><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f. DSGVO)</li>
  </ul>

  <strong>Eingesetzte Dienste und Diensteanbieter:</strong>
  <ul>
    <li><strong>Google Maps:</strong> Wir binden die Landkarten des Dienstes “Google Maps” des Anbieters Google ein. Zu den verarbeiteten
      Daten können insbesondere IP-Adressen und Standortdaten der Nutzer gehören, die jedoch nicht ohne deren Einwilligung
      (im Regelfall im Rahmen der Einstellungen ihrer Mobilgeräte vollzogen), erhoben werden; Dienstanbieter: Google Ireland
      Limited, Gordon House, Barrow Street, Dublin 4, Irland, Mutterunternehmen: Google LLC, 1600 Amphitheatre Parkway,
      Mountain View, CA 94043, USA; Website: <a href="https://cloud.google.com/maps-platform" target="_blank">https://cloud.google.com/maps-platform</a>; Datenschutzerklärung:
      <a href="https://policies.google.com/privacy" target="_blank">https://policies.google.com/privacy</a>; Privacy Shield (Gewährleistung Datenschutzniveau bei Verarbeitung von Daten in
      den USA): <a href="https://www.privacyshield.gov/participant?id=a2zt0000000TRkEAAW&status=Active" target="_blank">https://www.privacyshield.gov/participant?id=a2zt0000000TRkEAAW&status=Active</a>; Widerspruchsmöglichkeit
      (Opt-Out): Opt-Out-Plugin: <a href="https://tools.google.com/dlpage/gaoptout?hl=de" target="_blank">https://tools.google.com/dlpage/gaoptout?hl=de</a>, Einstellungen für die Darstellung von
      Werbeeinblendungen: <a href="https://adssettings.google.com/authenticated" target="_blank">https://adssettings.google.com/authenticated</a></li>
    <li><strong>Leaflet:</strong> Wir binden die Landkarten des Dienstes \"Leaflet\" ein. Die Daten der Nutzer werden durch Leaflet
      ausschließlich zu Zwecken der Darstellung der Kartenfunktionen und zur Zwischenspeicherung der gewählten Einstellungen
      verwendet. Zu diesen Daten können insbesondere IP-Adressen und Standortdaten der Nutzer gehören, die jedoch nicht ohne
      deren Einwilligung (im Regelfall im Rahmen der Einstellungen ihrer Mobilgeräte vollzogen) erhoben werden.
      Dienstanbieter: Leaflet, Vladimir Agafonkin. Maps © OpenStreetMap contributors; Website: <a href="https://leafletjs.com/" target="_blank">https://leafletjs.com/</a></li>
  </ul>

  <h3>Löschung von Daten</h3>
  <p>
    Die von uns verarbeiteten Daten werden nach Maßgabe der gesetzlichen Vorgaben gelöscht, sobald deren zur Verarbeitung
    erlaubten Einwilligungen widerrufen werden oder sonstige Erlaubnisse entfallen (z.B., wenn der Zweck der Verarbeitung
    dieser Daten entfallen ist oder sie für den Zweck nicht erforderlich sind).
  </p>
  <p>
    Sofern die Daten nicht gelöscht werden, weil sie für andere und gesetzlich zulässige Zwecke erforderlich sind, wird
    deren Verarbeitung auf diese Zwecke beschränkt. D.h., die Daten werden gesperrt und nicht für andere Zwecke
    verarbeitet. Das gilt z.B. für Daten, die aus handels- oder steuerrechtlichen Gründen aufbewahrt werden müssen oder
    deren Speicherung zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen oder zum Schutz der Rechte einer
    anderen natürlichen oder juristischen Person erforderlich ist.
  </p>
  <p>
    Weitere Hinweise zu der Löschung von personenbezogenen Daten können ferner im Rahmen der einzelnen Datenschutzhinweise
    dieser Datenschutzerklärung erfolgen.
  </p>

  <h3>Änderung und Aktualisierung der Datenschutzerklärung</h3>
  <p>
  Wir bitten Sie, sich regelmäßig über den Inhalt unserer Datenschutzerklärung zu informieren. Wir passen die
  Datenschutzerklärung an, sobald die Änderungen der von uns durchgeführten Datenverarbeitungen dies erforderlich
  machen. Wir informieren Sie, sobald durch die Änderungen eine Mitwirkungshandlung Ihrerseits (z.B. Einwilligung) oder
  eine sonstige individuelle Benachrichtigung erforderlich wird.
  </p>
  <p>
  Sofern wir in dieser Datenschutzerklärung Adressen und Kontaktinformationen von Unternehmen und Organisationen
  angeben, bitten wir zu beachten, dass die Adressen sich über die Zeit ändern können und bitten die Angaben vor
  Kontaktaufnahme zu prüfen.
  </p>
  <br />

  <a href="https://datenschutz-generator.de/?l=de" target="_blank">Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas Schwenke</a>

</div>
