<h4>{{data.BEZ}} {{data.GEN}} {{data.BL}}</h4>
<p *ngIf="data.countiesData === undefined || data.countiesData === null || data.countiesData.length < 1">
  {{ 'no_data' | translate }}
</p>
<p *ngIf="data.countiesData != null">
  {{"html_rki_marker.death_rate" | translate}}: {{data.countiesData[data.countiesData.length - 1].death_rate}}%<br>
  {{"html_rki_marker.cases" | translate}}: {{data.countiesData[data.countiesData.length - 1].cases}}<br>
  {{"html_rki_marker.deaths" | translate}}: {{data.countiesData[data.countiesData.length - 1].deaths}}<br>
  {{"html_rki_marker.cases_per_100k" | translate}}: {{data.countiesData[data.countiesData.length - 1].cases_per_100k}}<br>
  {{"html_rki_marker.cases_per_population" | translate}}: {{data.countiesData[data.countiesData.length - 1].cases_per_population}}<br>
  {{'htmlmarker.last_update' | translate}}: <strong>{{data.countiesData[data.countiesData.length - 1].time | date: 'dd.MM.yyyy - H:mm:ss'}}</strong>

</p>
