<mat-toolbar color="primary">
  <span routerLink="/">{{title}}</span>

  <!-- This fills the remaining space of the current row -->
  <span class="own-navbar-right-align"></span>
  <mat-form-field >
    <mat-label>{{'language' | translate}}</mat-label>
    <mat-select (selectionChange)="changeLanguage($event)">
      <mat-option *ngFor="let lang of translate.getLangs()" [value]="lang">
        {{'languages.'+lang | translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-button routerLink="/send-data">{{ 'send_data.navbar_button_text' | translate}}</button>

</mat-toolbar>


<router-outlet></router-outlet>
