<div class="container" style="margin-top: 60px; margin-bottom: 60px;">

  <h1 style="margin-bottom: 40px;">Changelog</h1>

  <!--:Begin:1.1.1-->
  <div class="changelog-wrap">
    <h2>v1.1.1 <span style="font-size:0.6em;">(24.03.2020)</span></h2>
    <div class="changelog-section">
      <h4>Neue Funktionen:</h4>
      <ul>
        <li>SEO (search engine optimization) Anpassungen.</li>
      </ul>
    </div>
    <div class="changelog-section">
      <h4>Fehlerbehebungen:</h4>
      <ul>
        <li>Performance-Verbesserungen bei den einzelnen Maps.</li>
      </ul>
    </div>
  </div>
  <!--:End:1.1.1-->

  <hr class="changelog-diver">

  <!--:Begin:1.1.0-->
  <div class="changelog-wrap">
    <h2>v1.1.0 <span style="font-size:0.6em;">(24.03.2020)</span></h2>
    <div class="changelog-section">
      <h4>Neue Funktionen:</h4>
      <ul>
        <li>Changelog hinzugefügt.</li>
        <li>Cookie-Banner in die Seite eingebaut.</li>
        <li>Informationstext für die RKI Daten hinzugefügt.</li>
      </ul>
    </div>
    <div class="changelog-section">
      <h4>Änderungen:</h4>
      <ul>
        <li>Struktur des Projektes wurde angepasst.</li>
      </ul>
    </div>
    <div class="changelog-section">
      <h4>Fehlerbehebungen:</h4>
      <ul>
        <li>Fehler behoben, durch die Fehlerhafte Map hervorgerufen wurde.</li>
        <li>Einige Darstellungsprobleme auf der Hauptseite behoben.</li>
        <li>Sämtliche Performance-Verbesserungen.</li>
      </ul>
    </div>
  </div>
  <!--:End:1.1.0-->

  <hr class="changelog-diver">

  <!--:Begin:1.0.0-->
  <div class="changelog-wrap">
    <h2>v1.0.0 <span style="font-size:0.6em;">(22.03.2020)</span></h2>
    <div class="changelog-section">
      <h4>First Release</h4>
    </div>
  </div>
  <!--:End:1.0.0-->
</div>
