<div class="container" style="margin-top: 60px; margin-bottom: 60px;">

  <h1 style="margin-bottom: 40px; text-align: center;">Team</h1>

  <div class="row">
    <div class="col-12 col-md-3 margin-bottom text-center">
      <img src="/assets/images/Nils.png" alt="Avatar-Nils" height="192px"><br><br>
      <h3>Nils G.</h3>
      <h6>Frontend Developer</h6>
    </div>
    <div class="col-12 col-md-3 margin-bottom text-center">
      <img src="/assets/images/einDeveloper.jpg" alt="Avatar-Dennis" height="192px"><br><br>
      <h3>Dennis B.</h3>
      <h6>Entwicklung - Twitter-Bot</h6>
    </div>
    <div class="col-12 col-md-3 margin-bottom text-center">
      <img src="/assets/images/Newspicel.jpg" alt="Avatar-Julian" height="192px"><br><br>
      <h3>Julian H.</h3>
      <h6>Backend Developer</h6>
    </div>
    <div class="col-12 col-md-3 margin-bottom text-center">
      <img src="/assets/images/Lukas.jpg" alt="Avatar-Lukas" height="192px"><br><br>
      <h3>Lukas R.</h3>
      <h6>Backend Developer</h6>
    </div>
    <div class="col-12 col-md-4 margin-bottom text-center">
      <img src="/assets/images/Pascal.jpg" alt="Avatar-Pascal" height="192px"><br><br>
      <h3>Pascal H.</h3>
      <h6>Frontend Developer</h6>
    </div>
    <div class="col-12 col-md-4 margin-bottom text-center">
      <img src="/assets/images/Paddy.jpg" alt="Avatar-Patrick" height="192px"><br><br>
      <h3>Patrick Z.</h3>
      <h6>Techniker</h6>
    </div>
    <div class="col-12 col-md-4 margin-bottom text-center">
      <img src="/assets/images/Gomze.png" alt="Avatar-Gomze" height="192px"><br><br>
      <h3>Florian Z.</h3>
      <h6>Management</h6>
    </div>

  </div> <h1 style="margin-bottom: 40px; margin-top: 80px; text-align: center;">Partner</h1>

  <div class="row logo-wrapper">
    <div class="col-12 text-center">
      <img src="/assets/images/prepaidHost.png" alt="Prepaid-Host-Logo"><br><br>
      <h3>Prepaid-Host</h3>
      <h6><a href="https://prepaid-host.com/a/CoronaDataHub" target="_blank">https://prepaid-host.com/</a></h6>
    </div>
    <div class="col-12 text-center" style="margin-top: 30px;">
      <img src="/assets/images/bero-host.png" alt="Bero-Host-Logo"><br><br>
      <h3>Bero-Host</h3>
      <h6><a href="https://bero-host.de/affiliate/qZnODEXeGk" target="_blank">https://bero-host.de/</a></h6>
    </div>


  </div>
</div>
